@model ProyectoHotel.Models.RECEPCION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RECEPCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalidaConfirmacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalidaConfirmacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adelanto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adelanto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioRestante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioRestante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoPenalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoPenalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HABITACION.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HABITACION.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.TipoDocumento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
