@model IEnumerable<ProyectoHotel.Models.DETALLE_VENTA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VENTA.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTO.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENTA.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleVenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleVenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleVenta })
        </td>
    </tr>
}

</table>
